@media screen and (max-width: 520px) {
    #button > #button2 {
        display: none;
    }
}

@media screen and (max-width: 419px) {
    #button > #button1 {
        display: none;
    }
}

@media screen and (max-width: 766px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    :root {
        --cor1: #FFFFFF;
        --cor2: #0D9488;
        --cor3: #0F766E;
        --cor4: #04181D;
        --cor5: #0f766d7c;
    }
    
    label {
        background-color: var(--cor1);
        width: 18px;
        height: 9.2px;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    label > img {
        width: 100%;
        align-items: center;
        margin: auto;
    }

    #check {
        display: none;
    }

    #icone {
        cursor: pointer;
        padding: 15px;
        position: absolute;
    }

    .bar {
        background-color: var(--cor4);
        height: 100%;
        width: 250px;
        position: absolute;
        transition: all .3s linear;
        left: -300px;
    }

   .bar > nav {
        width: 100%;
        position: absolute;
        top: 60px;
        display: flex;
        flex-direction: column;
   }

   .bar > nav > a {
        text-decoration: none;
        color: var(--cor1);
        margin-left: 26px;
        margin-bottom: 10px;
        min-height: 30px;
        padding-top: 10px;
        padding-left: 10px;
        
   }

   .bar nav a:hover {
        background-color: var(--cor5);
        
   }

   .bar .logo {
        margin-left: 30px;
   }

   #check:checked ~ .bar {
        transform: translate(300px);
   }

   .navegation > nav {
        display: none;
   }

   #side-menu {
        display: block;
        float: right;
        margin-right: 63px;
        
   }

   #button-bar {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
   }

   #button-bar > .button {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        align-items: center;
   }

   #button-bar > .button > a {
        text-align: center;
        align-items: center;
   }
}