:root {
    --cor1: #dbc4c4;
    --cor2: #0D9488;
    --cor3: #0F766E;
    --cor4: #04181D;
    --cor5: #374151;
    --cor6: #1B1F29;
    --cor7: #7E22CE;
    --cor8: #2563EB;
    
    --corheader:#252C72;
    --corhome: #202464;
    --corbuttom: #4793FA;
    --boy-blue: #6BA2F5ff;
    --cobalt: #2B3380ff;
    --wild: #D26695ff;
    --blue-eyes: #A1D4FAff;
    --cerulean: #3859CCff;
    --orange-yellow-crayola: #F1CE63ff;
    --royal-blue-dark: #202160ff;
    --blue-violet-crayola: #6963AFff;
    --byzantium: #80236Cff;
    --cool-grey: #888CBAff;
}

@media screen and (max-width: 520px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }

    /* Ocultar botão Whatsapp */
    #button > .button1 {
        display: none;
    }
}


@media screen and (max-width: 593px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: default;
    }

    /* Ocultar botão Email */
    #button > .button2 {
        display: none;
    }
}


@media screen and (max-width:680px) {
    /* Inicio Header */
    .logo h1 {
        font-size: 1.5rem;
        float: left;
        margin-left: 3%;
        padding-top: 3%;
        padding-bottom: 1%;
    }

    .logo p {
        font-size: .8rem;
        
        margin-left: -200px;
        padding-top: 38px;
    }
    /* Fim Header */


    /* Inicio Home */
    #home {
        margin-left: 28px;
        margin-right: 28px;
    }

    .info-number {
        display: flex;
        flex-direction: column;
    }

    .info1 {
        border: 0px;
    }

    .info2 {
        border: 0px;
    }

    .content-text {
        display: flex;
        float: left;
        margin-top: 55px;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 912px;
        min-width: 100%;
        max-height: 100%;
    }

    .content-text h1 {
        font-size: 1.5rem;
    }

    .content-text p {
        font-size: 1.1rem;
    }

    .content-aliegn {
        margin-left: 15px;
        margin-right: 15px;
    }

    .content-button {
        margin-bottom: 30px;
    }
    /* Fim Home */

    /* Inicio Sobre */
    .servicos h2 {
        max-width: 465px;
    }

    #sobre {
        padding-top: 50px;
    }

    /* Inicio Footer */
    .rede img {
        max-width: 100px;
        max-height: 25px;
    }
    .rede img:hover {
        cursor: pointer;
        transform: none;
    }

    .github img {
        margin-left: 0px;
        margin-right: 0px;
    }

    .copyright {
        font-size: .8rem;
    }

    .agradecimento {
        font-size: .8rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .agradecimento a {
        margin-bottom: 3px;        
    }
    /* Fim Footer */
}


@media screen and (max-width:762px) {
    /* Inicio Clientes */
    #clientes {
        flex-direction: column;
    }

    #clientes h1 {
        text-align: center;
        margin-top: 10px;
        color: var(--corheader);
    }

    #info-clientes {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .clientes {
        margin-bottom: 25px;
    }

    .clientes p {
        margin: auto;
    }

    .figure {
        margin-bottom: 10px;
    }

    .figure:hover {
        transform: none;
    }
    /* Fim Clientes */
}


@media screen and (max-width:900px) {
    /* Inicio Sobre */
    .missao {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .img-info {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        box-shadow: none;
    }

    .img-info:hover {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        box-shadow: none;
    }

    #descrition {
        margin-top: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }
    /* Fim Sobre */
}


@media screen and (max-width: 944px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    /* Inicio Menu */
    label {
        background-color: var(--cor1);
        width: 18px;
        height: 9.2px;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    label > img {
        width: 100%;
        align-items: center;
        margin: auto;
    }

    #check {
        display: none;
    }

    #icone {
        cursor: pointer;
        padding: 15px;
        position: absolute;
    }

    .bar {
        background-color: transparent;
        height: 100%;
        width: 250px;
        position: absolute;
        transition: all .3s linear;
        left: -300px;
    }

    #check:checked ~ .bar {
        transform: translate(300px);
   }

   .bar > nav {
        height: 900px;
        width: 100%;
        position: absolute;
        top: 82%;
        display: flex;
        flex-direction: column;
        background-color: var(--corheader);
   }

   .bar > nav > a {
        text-decoration: none;
        color: var(--cor1);
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        min-height: 30px;
        padding-top: 10px;
        padding-left: 16px;
   }

   .bar > nav > a:hover {
        background-color: var(--cor5);
        border-radius: 5px;
        transition: all .3s linear;
   }

   .bar .logo {
        margin-left: 30px;
   }

   .navegation > nav {
        display: none;
   }

   #side-menu {
        display: block;
        float: right;
        margin-right: 63px;
   }

   #button-bar {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
   }

   #button-bar > .button {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        align-items: center;
   }

   #button-bar > .button > a {
        text-align: center;
        align-items: center;
   }
    /* Fim Menu */
}


@media screen and (max-width:1100px) {
    /* Inicio Sobre */
    #content-sobre {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    #sobre-servicos {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .sobre-valores {
        margin: auto;
        min-height: 376px;
    }

    .valores {
        position: relative;
        top: 0px;
        left: -3px;
        margin-bottom: 20px;
    }

    .info1 {
        margin: 0;
        margin-left: 12px;
        margin-right: 12px;
    }

    .info2 {
        margin: 0;
        padding: 0;
        margin-left: 12px;
        margin-right: 12px;
    }
}


@media screen and (max-width:1219px) {
    .sobre-valores {
        display: flex;
        flex-direction: column;
    }

    .info1 {
        margin: 0;
        margin-left: 12px;
        margin-right: 12px;
}

    .info2 {
        margin: 0;
        padding: 0;
        margin-left: 12px;
        margin-right: 12px;
        border: 0;
}

    .valores {
        margin-top: 10px;
        margin-bottom: 15px;
        top: 0px;
        left: 4px;
    }
    /* Fim Sobre */
}