/* Start Menu */
@media screen and (max-width: 520px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        cursor: default;
    }

    #button > #button2 {
        display: none;
    }
}

@media screen and (max-width: 419px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    #button > #button1 {
        display: none;
    }
}

@media screen and (max-width: 766px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    :root {
        --cor1: #FFFFFF;
        --cor2: #0D9488;
        --cor3: #0F766E;
        --cor4: #04181D;
        --cor5: #374151;
    }
    
    label {
        background-color: var(--cor1);
        width: 18px;
        height: 9.2px;
        border-radius: 7px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    label > img {
        width: 100%;
        align-items: center;
        margin: auto;
    }

    #check {
        display: none;
    }

    #icone {
        cursor: pointer;
        padding: 15px;
        position: absolute;
    }

    .bar {
        background-color: transparent;
        height: 100%;
        width: 250px;
        position: absolute;
        transition: all .3s linear;
        left: -300px;
    }

   .bar > nav {
        height: 900px;
        width: 100%;
        position: absolute;
        top: 86%;
        display: flex;
        flex-direction: column;
        background-color: var(--cor4);
   }

   .bar > nav > a {
        text-decoration: none;
        color: var(--cor1);
        margin-bottom: 10px;
        margin-left: 20px;
        margin-right: 20px;
        min-height: 30px;
        padding-top: 10px;
        padding-left: 16px;
   }

   .bar > nav > a:hover {
        background-color: var(--cor5);
        border-radius: 5px;
        transition: all .3s linear;
   }

   .bar .logo {
        margin-left: 30px;
   }

   #check:checked ~ .bar {
        transform: translate(300px);
   }

   .navegation > nav {
        display: none;
   }

   #side-menu {
        display: block;
        float: right;
        margin-right: 63px;
   }

   #button-bar {
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
   }

   #button-bar > .button {
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        text-align: center;
        align-items: center;
   }

   #button-bar > .button > a {
        text-align: center;
        align-items: center;
   }
/* End Menu */
}
/* Start Home */
@media screen and (max-width:680px) {
    #home {
        margin-left: 28px;
        margin-right: 28px;
    }

    .info-number {
        display: flex;
        flex-direction: column;
    }

    .info1 {
        border: 0px;
    }

    .info2 {
        border: 0px;
    }
}
/* End Home */

/* Start Stats */
@media screen and (max-width:900px) {
    .antial {
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .img-info {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        box-shadow: none;
    }

    .img-info:hover {
        margin-top: 30px;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 30px;
        box-shadow: none;
    }

    #descrition {
        margin-top: 0px;
        margin-left: 15px;
        margin-right: 15px;
    }
}

@media screen and (max-width:1061px) {
    #content-stats {
        display: flex;
        flex-direction: column;
        align-items: center;
    
    }

    #coins-time {
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 40px;
    }

    .info-number {
        margin: auto;
    }

    .info1 {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .info2 {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}
/* End Stats */

@media screen and (max-width:762px) {
    #products {
        display: flex;
        flex-direction: column;
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
    }

    .products {
        margin-bottom: 25px;
    }

    .figure {
        margin-bottom: 10px;
    }

}

