* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor1: #FFFFFF;
    --cor2: #0D9488;
    --cor3: #0F766E;
    --cor4: #04181D;
    --cor5: #374151;
    --cor6: #1B1F29;
}


/* Start Menu */
header {
    background-color: var(--cor4);
    min-height: 55px;
    display: block;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.logo h1 {
    float: left;
    color: var(--cor2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navegation {
    margin: auto;
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}

.navegation nav {
    margin-right: 35px;
}

.navegation a {
    text-decoration: none;
    color: var(--cor1);
    margin-right: 20px;
}

#button {
    display: flex;
}

.button {
    margin-right: 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
}

.button a {
    margin: auto;
}

#button1 {
    color: var(--cor1);
    background-color: var(--cor2);
    
    
}

#button2 a {
    color: var(--cor4);
}

#button2 {
    background-color: var(--cor1);
    margin-right: 24px;
}

#side-menu {
    display: none;
}
/* End Menu */

main {
    padding-top: 68px;
}

/* Start Home */
.home {
    display: flex; 
}

#home {
    max-height: 550px;
}

.content {
    max-width: 593px;
    min-width: 329px;
    max-height: 607px;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}

.content-text {
    display: flex;
    float: left;
    margin-top: 82px;
    max-width: 912px;
    max-height: 100%;
    margin-left: 113px;
    margin-right: 60px;
    flex-direction: column;
}

.content-text h1 {
    font-size: 2em;  
}

.content-text p {
    margin-top: 20px;
    font-size: 1.3em;
    color: var(--cor5);  
}

.content-image {
    max-width: 764px;
    max-height: 600px;
    z-index: -2;
    margin-left: 130px;
}

.content-image img {
    width: 100%;
    margin-bottom: -5px;
    padding: 0;
}

#content-diagonal {
    float: left;
    margin-left: 60%;
    margin-top: -75%;
    max-width: 780px;
    min-width: 517px;
    min-height: auto;
    height: 110%;
    background: rgb(255, 255, 255);
    transform: skew(-20deg);
    border-left: 0px transparent;
    border-right: 0px;
    border-top: 0px;
    border-bottom: 0px;
    border-style: solid;
    border-color: white;
    display: flex;
    z-index: -1;
}

@media screen and (max-width: 1392px) {
    * {
        margin: 0;
        padding: 0;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
    
    main {
        padding-top: 20px;
    }

    .home {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .content {
        display: block;
    }

    #content-diagonal {
        display: none;
    }

    .content-text {
        margin: 0;
        margin-top: 60px;
        margin-bottom: 80px;
    }

    .content-image > img {
        max-width: 596px;
        border-radius: 5px;
    }

    .content-image  {
        margin: auto;
    }

    #stats {
        position: relative;
        top: 360px;
    }
}

.content-button {
    display: flex;
    margin-top: 30px;
}

.content-button #button1 a {
    color: var(--cor1);
    text-decoration: none;
    font-weight: 600;
}

.content-button #button2 a {
    text-decoration: none;
    font-weight: 600;
}

.content-button > #button2 {
    border: 1px;
    border-color: var(--cor2);
    border-style: solid;
}
/*End Home*/

/*Start Stats*/
#stats {
    background-color: var(--cor6);
    color: var(--cor1);
    padding-top: 100px;
}

#content-stats {
    display: flex;
    justify-content: center;
}

#coins-time {
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    margin-right: 40px;
    max-width: 428px;
}

#coins-time h2 {
    margin-bottom: 8px;
}

.coins {
    margin-bottom: 60px;
}

.info-number {
    display: flex;
    max-width: 609px;
    border: 1px;
    border-style: solid;
    border-radius: 5px 5px 5px 5px;
    margin-right: 80px;
    align-items: center;
}

.info1 {
    margin-top: 0px;
    max-width: 300px;
    min-width: 160px;
    margin-left: 60px;
    margin-right: 60px;
    font-weight: 600;
    font-size: 1.3em;
}

.supply, .initial, .airdrop, .apr {
    margin-bottom: 20px;
}

.info2 {
    padding-top: 0px;
    max-width: 300px;
    min-width: 180px;
    border: 0px;
    border-left: 1px;
    border-style: solid;
    padding-left: 60px;
    margin-right: 60px;
    font-weight: 600;
    font-size: 1.3em;
}

#image-info {
    display: flex;
}
    