* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
    --cor1: #FFFFFF;
    --cor2: #0D9488;
    --cor3: #0F766E;
    --cor4: #04181D;
}

header {
    background-color: var(--cor4);
    min-height: 64px;
}

#logo h1 {
    float: left;
    color: var(--cor2);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 8%;
    padding-top: 1%;
    padding-bottom: 1%;
}

.navegation {
    display: flex;
    justify-content: flex-end;
    padding-top: 1%;
    padding-bottom: 1%;
    align-items: center;
}

.navegation nav {
    margin-right: 35px;
}

.navegation a {
    text-decoration: none;
    color: var(--cor1);
    margin-right: 20px;
}

#button {
    display: flex;
}

.button {
    margin-right: 20px;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 7px;
}

.button a {
    margin: auto;
}

#button1 {
    color: var(--cor1);
    background-color: var(--cor2);
    
    
}

#button2 a {
    color: var(--cor4);
}

#button2 {
    background-color: var(--cor1);
    margin-right: 130px;
}